# {{ ansible_managed }}

#Address =
Cipher = {{ tinc_host_cipher }}
ClampMSS = {{ tinc_host_clamp_mss }}
Compression = {{ tinc_host_compression }}
Digest = {{ tinc_host_digest }}
IndirectData = {{ tinc_host_indirect_data }}
MACLength = {{ tinc_host_mac_length }}
PMTU = {{ tinc_host_pmtu }}
PMTUDiscovery = {{ tinc_host_pmtu_discovery }}
Port = {{ tinc_host_port }}
#Subnet = 
