# {{ ansible_managed }}

## This file contains all names of the networks to be started on system startup.

{% if tinc_startup_networks %}
{% for network in tinc_startup_networks %}
{{ network }}
{% endfor %}
{% endif %}
